<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
      <div class="carousel-item active">
          <img src="./asset/images/rose.webp" class="d-block w-100" alt="./asset/images/1.jpg">
          <div class="carousel-caption d-none d-md-block">
              <h5>Flowers are nature's vibrant</h5>
              <p>Roses are timeless symbols of love and beauty, celebrated for their captivating fragrance</p>
          </div>
      </div>
      <div class="carousel-item">
          <img src="./asset/images/tulip.webp" class="d-block w-100" alt="./asset/images/2.jpg">
          <div class="carousel-caption d-none d-md-block">
              <h5>Flowers are nature's vibrant</h5>
              <p>Tulips are vibrant spring flowers that come in a kaleidoscope of colors,</p>
          </div>
      </div>
      <div class="carousel-item">
          <img src="./asset/images/3.jpg" class="d-block w-100" alt="./asset/images/3.jpg">
          <div class="carousel-caption d-none d-md-block">
              <h5>Flowers are nature's vibrant</h5>
              <p>Sunflowers are cheerful and towering blooms that turn their heads to follow the sun,</p>
          </div>
      </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
  </button>
</div>
